name: Günlük Film Güncelleme

on:
  schedule:
    # Her gün sabah 06:00'da çalışır
    - cron: '0 3 * * *'
  workflow_dispatch: # Elle çalıştırma butonu

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Depoyu Çek
        uses: actions/checkout@v3

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Kütüphaneleri Yükle
        run: pip install -r requirements.txt

      - name: Botu Çalıştır
        run: python bot.py

      - name: Sonucu Kaydet
        run: |
          git config --global user.name "GitHub Bot"
          git config --global user.email "bot@github.com"
          git add playlist.m3u
          git commit -m "Güncelleme: $(date)" || echo "Değişiklik yok"
          git push
